.Restaurant{
    width: 60%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

.Dish{

    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;

}

.Comments{
    color: aqua;

}
