body {
  font-family: "Lato";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran";
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.bg-blue {
  background-color: #3238a8 !important;
}
.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #fff;
}
/* header.masthead2 {
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, #3238a8 0%, #3298a8 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  z-index: -1;
} */

header.masthead {
  height: 85vh;
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #3238a8 0%, #3298a8 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

.restaurant {
  height: 40vh;
  position: relative;
  overflow: hidden;
  padding-top: calc(4rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #3238a8 0%, #3298a8 100%);
  /* background: linear-gradient(0deg, #e70000 0%, #ff0000 100%); */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #3238a8 0%, #3298a8 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

.profileTableDiv {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #3238a8 0%, #3298a8 100%);
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  padding: 100px;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #3238a8 !important;
}

.btn-primary {
  background-color: #3238a8;
  border-color: #3238a8;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #3298a8 !important;
  border-color: #3298a8 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(63, 78, 191, 0.5);
}

.btn-secondary {
  background-color: #5b3fbf;
  border-color: #5b3fbf;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #723fbf !important;
  border-color: #723fbf !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 63, 191, 0.5);
}

.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}


.bg {
  background-color: #10316b;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bguser {
  background-color: #10316b;
}

.bg2 {
  background-color: #89898c;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg3 {
  background-color: #89898c;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgwhite {
  background-color: #fff;
}

.bgbluelightest {
  background-color: #dff6f0;
}

.bgbluelight {
  background-color: #46b3e6;
}

.bgbluedark {
  background-color: #4d80e4;
}

.bgbluedark {
  background-color: #2e279d;
}

.bg2blue {
  background-color: #10316b;
}

.bg2black {
  background-color: #000000;
}

.bg2orange {
  background-color: #e25822;
}

.bg2white {
  background-color: #ececeb;
}

.goldtext {
  color: #cccc00;
  border: 0px;
  background-color: #ececeb;
}